@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #83D1D7;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  line-height: 1.5;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  /* scroll-padding-top: 1rem; */
}

.container {
  --max-width: 80rem;
  --padding: 1rem;
  width: min(var(--maxwidth), 100% - (var(--padding) * 2));
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  gap: 1.5em;
  justify-content: flex-end;
  padding: 1em 2.5em;
  margin-top: 1em;
  /* background: #FCEDE4; */
  border-radius: 200em;
  font-weight: 600;
}

a {
  color: #0a1520;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.banner h1 {
  font-size: 3em;
}

form {
  /* background: #fff; */
  width: 100vw;
  max-width: 30em;
  border-radius: 20px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  padding: 2em 2em;
}

form h2,
form p,
.form-options label {
  text-align: center;
}

/* label {
  font-weight: 600;
  font-size: 0.9em;
} */

.form-options {
  /* display: flex;
  flex-direction: row; */
  margin-bottom: 0.8em;
}

.form-options__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  gap: 0.5em;
  margin-top: 1em;
}

.button--option {
  background: #b4e9eb;
  padding: 0.5em 1em;
  border-radius: 200em;
}

.form-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}

.form-text input,
textarea,
select {
  border: none;
  border-radius: 10px;
  padding: 0.8em;
  font-size: 1em;
  margin-top: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input:focus-visible {
  background: #f6f6f6;
  outline: none;
}

input#bio {
  height: 4em;

}

form button {
  background: #6868AF;
  border: none; 
  color: #fff;
  font-size: 1.2em;
  padding: 0.9em 3em;
  width: 100%;
  border-radius: 10px;
  transition: ease-in;
  transition-duration: 0.2s;
  margin-top: 1em;
}

form button:hover {
  background: rgb(3, 114, 204);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* transition: ease-in; */
}